<!DOCTYPE html>
<html>
<head>
  <title>Events</title> 
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/styles.css">
 
  <style>
    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      font-size: 10px; /* Reduce the font size of the table */
    }
    th, td {
      border: 1px solid #ddd;
      padding: 5px; /* Reduce the padding to decrease row height */
      text-align: center;
      line-height: 1.2; /* Adjust line height for smaller rows */
    }
    th {
      background-color: #F2F2F2;
      font-weight: bold;
    }
    button {
      padding: 4px 8px; /* Adjust button size */
      margin: 2px;
      font-size: 12px; /* Adjust button font size */
      cursor: pointer;
    }
  </style>
  

</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/adminIndex">Admin Console</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <form action="/logout" method="GET" class="d-inline ms-auto">
          <button type="submit" class="btn button-color mb-2">Logout</button>
        </form>
      </div>
    </div>
  </nav>
</head>


  <h1 style="text-align: center;">Upcoming Events</h1>
  <table>
    <thead>
      <tr>
        <th>Event ID</th>
        <th>Contact First Name</th>
        <th>Contact Last Name</th>
        <th>Contact Phone</th>
        <th>Contact Email</th>
        <th>Contact Preferred</th>
        <th>Event Type</th>
        <th>Event Date</th>
        <th>Event Backup Date</th>
        <th>Event Backup Date 2</th>
        <th>Event Start Time</th>
        <th>Event Expected Duration</th>
        <th>Event Address</th>
        <th>Event City</th>
        <th>Event State</th>
        <th>Event Zipcode</th>
        <th>Event Space Capacity</th>
        <th>Table Type</th>
        <th>Number of Sewers</th>
        <th>Expected Adults</th>
        <th>Expected Children</th>
        <th>Do you want to hear Jen's story?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if (upcomingEvents && upcomingEvents.length > 0) { %>
        <% upcomingEvents.forEach(row => { %>
          <tr>
            <td><%= row.eventid %></td>
            <td><%= row.contact_first_name %></td>
            <td><%= row.contact_last_name %></td>
            <td><%= row.contact_phone %></td>
            <td><%= row.contact_email %></td>
            <td><%= row.contact_preferred_contact %></td>
            <td><%= row.event_type %></td>
            <!-- <td><%= row.event_date ? row.event_date.toISOString().split('T')[0] : '' %></td> -->

            <td>
              <% if (row.event_date) { 
                let date = new Date(row.event_date);
                let formattedDate = `${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}-${date.getFullYear()}`;
                %>
                <%= formattedDate %>
              <% } else { %>
                <%= '' %>
              <% } %>
            </td>


            <td><%= row.event_backup_date ? row.event_backup_date.toISOString().split('T')[0] : '' %></td>
            <td><%= row.event_backup_date_2 ? row.event_backup_date_2.toISOString().split('T')[0] : '' %></td>
            <td><%= row.event_start_time %></td>
            <td><%= row.event_expected_duration %></td>
            <td><%= row.event_address %></td>
            <td><%= row.event_city %></td>
            <td><%= row.event_state %></td>
            <td><%= row.event_zip %></td>
            <td><%= row.event_space_capacity %></td>
            <td><%= row.table_types %></td>
            <td><%= row.number_sewers %></td>
            <td><%= row.event_expected_adults %></td>
            <td><%= row.event_expected_children %></td>
            <td><%= row.jen_story %></td>
            <td>
              <form action="/editUpcomingEvents/<%= row.eventid%>" method="GET" style="display:inline;">
                <button type="submit">Edit</button>
              </form>
              <form action="/deleteUpcomingEvents/<%= row.eventid%>" method="POST" style="display: inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Remove</button>
              </form>
            </td>
          </tr>
          <% }) %>
          <% } else { %>
            <tr><td colspan="36">No upcoming events found</td></tr>
          <% } %>
        </tr>
    </tbody>
  </table>

  <h1 style="text-align: center;">Past Events</h1>
  <table>
    <thead>
      <tr>
        <th>Contact Email</th>
        <th>Event Type</th>
        <th>Event Date</th>
        <th>Event Start Time</th>
        <th>Event Actual Duration</th>
        <th>Event Address</th>
        <th>Event City</th>
        <th>Event State</th>
        <th>Event Zipcode</th>
        <th>Event Space Capacity</th>
        <th>Number of Sewers</th>
        <th>Actual Adults</th>
        <th>Actual Children</th>
        <th>Pockets Brought</th>
        <th>Pockets In Progress</th>
        <th>Pockets Finished</th>
        <th>Collars Brought</th>
        <th>Collars In Progress</th>
        <th>Collars Finished</th>
        <th>Envelopes Brought</th>
        <th>Envelopes In Progress</th>
        <th>Envelopes Finished</th>
        <th>Vests Brought</th>
        <th>Vests In Progress</th>
        <th>Vests Finished</th>
        <th>Completed Products</th>
        <th>Actions</th>
      </tr>
    </thead>
      <tbody>
      <% if (pastEvents && pastEvents.length > 0) { %>
        <% pastEvents.forEach(row => { %>
          <tr>
            <td><%= row.contact_email %></td>
            <td><%= row.event_type %></td>
            <td><%= row.event_date ? row.event_date.toISOString().split('T')[0] : '' %></td>
            <td><%= row.event_start_time %></td>
            <td><%= row.event_actual_duration %></td>
            <td><%= row.event_address %></td>
            <td><%= row.event_city %></td>
            <td><%= row.event_state %></td>
            <td><%= row.event_zip %></td>
            <td><%= row.event_space_capacity %></td>
            <td><%= row.number_sewers %></td>
            <td><%= row.event_actual_adults %></td>
            <td><%= row.event_actual_children %></td>
            <td><%= row.pockets_brought %></td>
            <td><%= row.pockets_in_progress %></td>
            <td><%= row.pockets_finished %></td>
            <td><%= row.collars_brought %></td>
            <td><%= row.collars_in_progress %></td>
            <td><%= row.collars_finished %></td>
            <td><%= row.envelopes_brought %></td>
            <td><%= row.envelopes_in_progress %></td>
            <td><%= row.envelopes_finished %></td>
            <td><%= row.vests_brought %></td>
            <td><%= row.vests_in_progress %></td>
            <td><%= row.vests_finished %></td>
            <td><%= row.completed_products %></td>
            <td>
              <form action="/editEvents/<%= row.eventid%>" method="GET" style="display:inline;">
                <button type="submit">Edit</button>
              </form>
              <form action="/deleteEvents/<%= row.eventid%>" method="POST" style="display: inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Remove</button>
              </form>
            </td>
          </tr>

          <% }) %>
          <% } else { %>
            <tr><td colspan="36">No past events found</td></tr>
          <% } %>
        </tbody>
  </table>

</body>
</html>